@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,900&family=Fredoka+One&family=Lobster&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,200;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  transition: 0.3s;
}

.whole-app {
  height: 100vh;
  display: flex;
  align-items: center;
}

body {
  background-color: #1c1d21;
  color: white;
}

input.form-control {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #16e16b;
}

input.form-control:focus {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #16e16b;
  outline: none;
  box-shadow: none;
  color: white;
}

.task-card {
  display: flex;
  justify-content: space-between;
}

.display-field {
  display: flex;
  justify-content: space-between;
}

.display-field .display-tasks {
  width: 220px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid #16a5e1;
}

.display-field .display-completed {
  width: 220px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid #16e16b;
}

.display-field .display-completed:hover,
.display-tasks:hover {
  transform: scale(1.2);
}

.add-task form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-icon {
  font-size: 3rem;
  cursor: pointer;
  color: #16e16b;
}

.add-icon:hover {
  transform: scale(1.4);
}

.task-icon {
  cursor: pointer;
  color: #16a5e1;
  font-size: 1.6rem;
}

.completed-icon {
  color: #16e16b;
  cursor: pointer;
  font-size: 1.6rem;
}

.task-card .task-title {
  font-weight: 100;
  letter-spacing: 2px;
}

.clear-btn {
  border: 1px solid red;
  width: 160px;
  padding: 5px;
  margin: auto;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

.hidden {
  display: none;
}
